/*
    File:   main.css
    Author: Matteo Loporchio

    This is the main CSS stylesheet of the project.
*/

/* Whole document */
body {
    background-color: #888888;
    background-image: url("pictures/kinda-jean.png");
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#top {
    position: relative;
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    border-radius: 5px;
    background: #3d3c3c;
    opacity: .9;
    color: white;
    text-align: center;
}

#title {
    position: relative;
    top: 5px;
    bottom: 10px;
    font-size: 16pt;
}

#selector {
    width: 20%;
}

#left {
    width: 30%;
}

#right {
    width: 50%;
}

.label {
    text-align: center;
    font-size: 18pt;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container {
    display: flex;
    position: relative;
    top: 10px;
    margin: 0 -5px;
}

.item {
    flex-grow: 1;
    margin: 0 5px;
    border-radius: 5px;
    background-color: lightgrey;
    opacity: .6;
}
