/*
    File:   main.css
    Author: Matteo Loporchio
    
    This is the main CSS stylesheet of the project.
*/

body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    background: rgb(245, 245, 245);
    font-family: 'Inconsolata', monospace;
}

hr.dashed {
    border-top: 1px dashed rgb(185, 185, 185);
}

hr.full {
    border-top: 1px solid rgb(185, 185, 185);
}

h1 {
    margin: 0;
    font-size: 16pt;
}

h2 {
    margin: 0;
    font-size: 12pt;
}

#top {
    width: 100%;
    text-align: center;
    background-image: url('pictures/stripes-light/stripes-light.png');
    background-color: #ccc;
}

#wrap {
    width: 100%;
    background-image: url('pictures/dust_scratches/dust_scratches.png');
    background-color: #ccc;
}

#left {
    float:left;
    width:50%;
    border-color: black;
}

#right {
    float:right;
    width:50%;
    border-color: black;
}