/*
    File:   main.css
    Author: Matteo Loporchio
    
    This is the main CSS stylesheet of the project.
*/

/* Whole document */
body {
    background-color: #888888;
    background-image: url("https://www.transparenttextures.com/patterns/kinda-jean.png");
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#top {
    position: relative;
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    border-radius: 5px;
    background: #3d3c3c;
    opacity: .9;
    color: white;
    text-align: center;
}

#title {
    position: relative;
    top: 5px;
    bottom: 10px;
    font-size: 16pt;
}

.container {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    flex: flex-grow;
    background-color: lightgrey;
    border-radius: 5px;
    opacity: .6;
}