/*
    File:   map.css
    Author: Matteo Loporchio

    This file contains the style definition for the interactive SVG map.
*/

.background {
    fill: none;
    pointer-events: all;
}

.active {
    fill: crimson;
}

path {
    stroke: black;
    stroke-width: .5px;
}

/*
.mapMacro:hover {
    fill: crimson;
}*/

/*
path:hover {
    fill: crimson;
}*/

#mapSelector {
    margin-left: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.mapSelectorEntry {
    width: 45%;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.mapSelectorEntry:hover {
    border: 2px solid crimson;
}

.mapSelectorEntry[selected="true"] {
    border: 2px solid crimson;
    background: crimson;
    color: white;
    opacity: .7;
}

#mapLegend {
    font-size: 10pt;
    width: 100%;
}

#mapTooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    background: #ccc;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
