/*
    File:   map.css
    Author: Matteo Loporchio

    This file contains the style definition for the interactive SVG map.
*/

.label {
    text-align: center;
    font-size: 18pt;
    margin-top: 2%;
    margin-bottom: 2%;
}

.selector {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.background {
    fill: none;
    pointer-events: all;
}

.active {
    fill: crimson;
}

path {
    /*fill: rgb(214, 214, 214);*/
    stroke: black;
    stroke-width: .5px;
}

path:hover {
    fill: crimson;
}

.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    background: #ccc;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
