/*
    File:   map.css
    Author: Matteo Loporchio

    This file contains the style definition for the interactive SVG map.
*/

.background {
    fill: none;
    pointer-events: all;
}

.active {
    fill: crimson;
}

path {
    stroke: black;
    stroke-width: .5px;
}

path:hover {
    fill: crimson;
}

.mapLegend {
    width: 100%;
}

#mapTooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    background: #ccc;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
