/*
    File:   selector.css
    Author: Matteo Loporchio
*/

.selectorArea {
    margin: 4px;
}

.listEntry {
    border: 2px solid lightgray;
    border-radius: 4px;
}

.listEntry:hover {
    border: 2px solid crimson;
}

.listEntry[selected="true"] {
    border: 2px solid crimson;
    background: crimson;
    color: white;
    opacity: .7;
}

.listEntryBox {
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid rgba(0, 0, 0, .2);
}